# Node.js
node_modules/

# Arquivos de ambiente
.env

# Arquivos de log
logs/

# Arquivos de build
build/
dist/

# Dependendo de como você configurou seu projeto, você também pode precisar adicionar
# diretórios específicos para transpilação, bundling ou compilação de assets

# Editor/IDE
.idea/
.vscode/

# Arquivos de configuração
config.js
config.json

# Arquivos de cache ou temporários
.cache/
.temp/

# Outros
.DS_Store
Thumbs.db
