<!-- index.ejs -->
<h1>PIX</h1>
<form action="/form" method="post">
  <label for="pixKey">Chave PIX</label>
  <input type="text" id="pixKey" name="pixKey" required>

  <label for="pixValue">Valor PIX</label>
  <input type="text" id="pixValue" name="pixValue" required>

  <button type="submit">Enviar</button>
</form>
